# Pandas Series # 

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.
Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.



<img src="https://media.geeksforgeeks.org/wp-content/uploads/dataSER-1.png
" alt="drawing" style="width:500px;"/>

# Creating a Pandas Series # 
In the real world, a Pandas Series will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas Series can be created from the lists, dictionary, and from a scalar value etc. Series can be created in different ways, here are some ways by which we create a series:

Creating a series from array: In order to create a series from array, we have to import a numpy module and have to use array() function.

In [3]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['f', 'l', 'e', 'k', 's'])
 
ser = pd.Series(data)
print(ser)

0    f
1    l
2    e
3    k
4    s
dtype: object


Creating a series from Lists: \ 
In order to create a series from list, we have to first create a list after that we can create a series from list.

In [4]:

 
# a simple list
list = ['f', 'l', 'e', 'k', 's']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    f
1    l
2    e
3    k
4    s
dtype: object

# Accessing element of Series # 
There are two ways through which we can access element of series, they are :

* Accessing Element from Series with Position
* Accessing Element Using Label (index)

Accessing Element from Series with Position : In order to access the series element refers to the index number. Use the index operator [ ] to access an element in a series. The index must be an integer. In order to access multiple elements from a series, we use Slice operation.

Accessing first 5 elements of Series

In [7]:

# creating simple array
data = np.array(['f','l','e','k','s','f', 'o','r','f','l','e','k','s'])
ser = pd.Series(data)
  
  
#retrieve the first element
print(ser[:5])

0    f
1    l
2    e
3    k
4    s
dtype: object

 
Accessing Element Using Label (index) : \
In order to access an element from series, we have to set values by index label. A Series is like a fixed-size dictionary in that you can get and set values by index label.

Accessing a single element using index label

In [8]:

ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
  
  
# accessing a element using index element
print(ser[16])

o

# Indexing and Selecting Data in Series # 
Indexing in pandas means simply selecting particular data from a Series. Indexing could mean selecting all the data, some of the data from particular columns. Indexing can also be known as Subset Selection.

Indexing a Series using indexing operator [] :
Indexing operator is used to refer to the square brackets following an object. The .loc and .iloc indexers also use the indexing operator to make selections. In this indexing operator to refer to df[ ].

In [9]:
df = pd.read_csv("D:/Python/input/nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data 

# using indexing operator
data[3:6]

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object


Indexing a Series using .loc[ ] : \ 
This function selects data by refering the explicit index . The df.loc indexer selects data in a different way than just the indexing operator. It can select subsets of data.

In [10]:
  
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

Now we access the element of series using .loc[] function.

In [11]:
data.loc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
Name: Name, dtype: object

Indexing a Series using .iloc[ ] : \ 
This function allows us to retrieve data by position. In order to do that, weâ€™ll need to specify the positions of the data that we want. The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.

In [13]:
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

Now we access the element of Series using .iloc[] function.

In [14]:
# using .iloc[] function
data.iloc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

 ## Binary Operation on Series ##
We can perform binary operation on series like addition, subtraction and many other operation. In order to perform binary operation on series we have to use some function like .add(),.sub() etc..
Code #1:

In [15]:
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

Now we add two series using .add() function.

In [16]:
data.add(data1, fill_value=0)

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

Code #2:

In [17]:
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

Now we subtract two series using .sub function.

In [18]:
# subtracting two series using
# .sub
data.sub(data1, fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

# Conversion Operation on Series #
In conversion operation we perform various operation like changing datatype of series, changing a series to list etc. In order to perform conversion operation we have various function which help in conversion like .astype(), .tolist() etc.
Code #1:

In [20]:
data =  pd.read_csv("D:/Python/input/nba.csv")  
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Salary"]= data["Salary"].astype(int) 
data["Number"]= data["Number"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

AFTER CONVERSION
 Name         object
Team         object
Number       object
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary        int32
dtype: object

Code #2:

In [21]:
# Python program converting
# a series into list
 
# importing pandas module  
 
   
# importing regex module 
import re 
      
     
# removing null values to avoid errors  
data.dropna(inplace = True)  
   
# storing dtype before operation 
dtype_before = type(data["Salary"]) 
   
# converting to list 
salary_list = data["Salary"].tolist() 
   
# storing dtype after operation 
dtype_after = type(salary_list) 
   
# printing dtype 
print("Data type before converting = {}\nData type after converting = {}"
      .format(dtype_before, dtype_after)) 
   
# displaying list 
salary_list

Data type before converting = <class 'pandas.core.series.Series'>
Data type after converting = <class 'list'>

[7730337,
 6796117,
 1148640,
 1170960,
 2165160,
 1824360,
 3431040,
 2569260,
 6912869,
 3425510,
 1749840,
 2616975,
 845059,
 1500000,
 1335480,
 6300000,
 134215,
 1500000,
 19689000,
 1140240,
 947276,
 981348,
 947276,
 947276,
 11235955,
 8000000,
 1635476,
 22875000,
 845059,
 845059,
 1572360,
 12650000,
 3750000,
 1636842,
 4000000,
 167406,
 947276,
 1000000,
 4626960,
 845059,
 1074169,
 6500000,
 2144772,
 525093,
 3457800,
 4582680,
 947276,
 2869440,
 947276,
 525093,
 13600000,
 10050000,
 2500000,
 7000000,
 12000000,
 6268675,
 650000,
 3553917,
 245177,
 1509360,
 3873398,
 13800000,
 947276,
 11370786,
 2008748,
 14260870,
 11710456,
 1131960,
 845059,
 1270964,
 3815000,
 15501000,
 1100602,
 111444,
 5675000,
 525093,
 9650000,
 18907726,
 1100602,
 19689000,
 947276,
 21468695,
 3376000,
 7085000,
 3110796,
 1159680,
 3000000,
 845059,
 700000,
 845059,
 15592217,
 1724250,
 1155600,
 3132240,
 5103120,
 981348,
 947276,
 5219169,
 13500000,
 2127840,
 206192,
 1160160,
 981348,
 13500000,
 3807120,
 1035000,
 55722,
 947276,
 5500000,
 2041080,
 83397,
 981348,
 1015421,
 1449187,
 3398280,
 5013559,
 15851950,
 947276,
 525093,
 12403101,
 7700000,
 3156600,
 845059,
 9500000,
 845059,
 2250000,
 16407500,
 4500000,
 8500000,
 947276,
 2380440,
 1015421,
 13400000,
 1391160,
 20093064,
 1535880,
 1147276,
 8193029,
 16407501,
 947276,
 947276,
 1276000,
 19689000,
 111196,
 8988765,
 14260870,
 2100000,
 2500000,
 6500000,
 2170465,
 111444,
 1252440,
 2891760,
 845059,
 3272091,
 16000000,
 600000,
 13913044,
 2841960,
 6270000,
 5000000,
 3000000,
 4050000,
 1007026,
 17120106,
 8000000,
 4000000,
 1358880,
 211744,
 1100000,
 7000000,
 2357760,
 845059,
 1007026,
 3000000,
 2399040,
 947276,
 1662360,
 2943221,
 8000000,
 14700000,
 16407500,
 295327,
 845059,
 5152440,
 2109294,
 6600000,
 1733040,
 1449000,
 4290000,
 1100602,
 3950313,
 4053446,
 2085671,
 16407500,
 1270964,
 15361500,
 845059,
 947276,
 5378974,
 8193030,
 306527,
 6486486,
 8229375,
 1646400,
 200600,
 15756438,
 1000000,
 2489530,
 3189794,
 947276,
 1404600,
 5158539,
 5000000,
 3542500,
 4088019,
 9588426,
 700902,
 845059,
 1201440,
 1230840,
 9638555,
 9000000,
 5464000,
 8500000,
 1100602,
 3036927,
 2850000,
 7070730,
 169883,
 1164858,
 845059,
 10734586,
 845059,
 1320000,
 15514031,
 1015421,
 10595507,
 55722,
 3382023,
 19689000,
 1142880,
 947276,
 5250000,
 10000000,
 16407500,
 200600,
 250750,
 3578947,
 525093,
 1499187,
 2000000,
 1304520,
 2854940,
 12000000,
 1000000,
 5746479,
 18671659,
 947276,
 525093,
 3333333,
 8000000,
 947276,
 189455,
 947276,
 525093,
 6110034,
 2612520,
 6331404,
 3034356,
 5675000,
 2139000,
 12000000,
 7000000,
 4204200,
 22192730,
 10151612,
 2854940,
 261894,
 845059,
 5543725,
 525093,
 20000000,
 981348,
 2481720,
 947276,
 4171680,
 845059,
 1294440,
 2380593,
 5192520,
 2505720,
 4300000,
 11250000,
 5000000,
 4000000,
 5694674,
 4375000,
 561716,
 3300000,
 273038,
 8000000,
 1920240,
 4662960,
 2170465,
 1100602,
 200600,
 15851950,
 2814000,
 3000000,
 3533333,
 10449438,
 11235955,
 1584480,
 947276,
 4345000,
 258489,
 1474440,
 1282080,
 2148360,
 2056920,
 1938840,
 947276,
 5703600,
 5758680,
 2279040,
 3750000,
 20158622,
 3135000,
 1140240,
 16407500,
 1463040,
 222888,
 3344000,
 2021520,
 1210800,
 4500000,
 5138430,
 16744218,
 525093,
 8042895,
 625093,
 947276,
 6980802,
 2894059,
 6000000,
 5016000,
 3075880,
 4236287,
 2525160,
 525093,
 1415520,
 2854940,
 2637720,
 4775000,
 2658240,
 9463484,
 12000000,
 15409570,
 1348440,
 981348,
 2239800,
 2433333,
 947276]

Binary operation methods on series:

<table class="series-table"><tbody><tr><th style="background-color:gray">Function</th><th style="background-color:gray">Description</th></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-add/" rel="noopener" target="_blank">add()</a></strong></td><td>Method is used to add series or list like objects with same length to the caller series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-sub/" rel="noopener" target="_blank">sub()</a></strong></td><td>Method is used to subtract series or list like objects with same length from the caller series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-mul/" rel="noopener" target="_blank">mul()</a></strong></td><td>Method is used to multiply series or list like objects with same length with the caller series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-div/" rel="noopener" target="_blank">div()</a></strong></td><td>Method is used to divide series or list like objects with same length by the caller series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-sum/" rel="noopener" target="_blank">sum()</a></strong></td><td>Returns the sum of the values for the requested axis</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-prod/" rel="noopener" target="_blank">prod()</a></strong></td><td>Returns the product of the values for the requested axis</td></tr><tr><td><strong>mean()</strong></td><td>Returns the mean of the values for the requested axis</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-pow/" rel="noopener" target="_blank">pow()</a></strong></td><td>Method is used to put each element of passed series as exponential power of caller series and returned the results</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-abs/" rel="noopener" target="_blank">abs()</a></strong></td><td>Method is used to get the absolute numeric value of each element in Series/DataFrame</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-cov-to-find-covariance/" rel="noopener" target="_blank">cov()</a></strong></td><td>Method is used to find covariance of two series</td></tr></tbody></table>

Pandas series method:

<table class="series-table"><tbody><tr><th style="background-color:gray">Function</th><th style="background-color:gray">Description</th></tr><tr><td><strong>Series()</strong></td><td>A pandas Series can be created with the Series() constructor method. This constructor method accepts a variety of inputs</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-combine_first/" rel="noopener" target="_blank">combine_first()</a></strong></td><td>Method is used to combine two series into one</td></tr><tr><td><strong>count()</strong></td><td>Returns number of non-NA/null observations in the Series</td></tr><tr><td><strong>size()</strong></td><td>Returns the number of elements in the underlying data</td></tr><tr><td><strong>name()</strong></td><td>Method allows to give a name to a Series object, i.e. to the column</td></tr><tr><td><strong>is_unique()</strong></td><td>Method returns boolean if values in the object are unique</td></tr><tr><td><strong>idxmax()</strong></td><td>Method to extract the index positions of the highest values in a Series</td></tr><tr><td><strong>idxmin()</strong></td><td>Method to extract the index positions of the lowest values in a Series</td></tr><tr><td><strong>sort_values()</strong></td><td>Method is called on a Series to sort the values in ascending or descending order</td></tr><tr><td><strong>sort_index()</strong></td><td>Method is called on a pandas Series to sort it by the index instead of its values</td></tr><tr><td><strong>head()</strong></td><td>Method is used to return a specified number of rows from the beginning of a Series. The method returns a brand new Series</td></tr><tr><td><strong>tail()</strong></td><td>Method is used to return a specified number of rows from the end of a Series. The method returns a brand new Series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-le/" rel="noopener" target="_blank">le()</a></strong></td><td>Used to compare every element of Caller series with passed series.It returns True for every element which is Less than or Equal to the element in passed series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-ne/" rel="noopener" target="_blank">ne()</a></strong></td><td>Used to compare every element of Caller series with passed series. It returns True for every element which is Not Equal to the element in passed series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-ge/" rel="noopener" target="_blank">ge()</a></strong></td><td>Used to compare every element of Caller series with passed series. It returns True for every element which is Greater than or Equal to the element in passed series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-eq/" rel="noopener" target="_blank">eq()</a></strong></td><td>Used to compare every element of Caller series with passed series. It returns True for every element which is Equal to the element in passed series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-gt/" rel="noopener" target="_blank">gt()</a></strong></td><td>Used to compare two series and return Boolean value for every respective element</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-lt/" rel="noopener" target="_blank">lt()</a></strong></td><td>Used to compare two series and return Boolean value for every respective element</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-clip/" rel="noopener" target="_blank">clip()</a></strong></td><td>Used to clip value below and above to passed Least and Max value</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-clip_lower/" rel="noopener" target="_blank">clip_lower()</a></strong></td><td>Used to clip values below a passed least value</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-clip_upper/" rel="noopener" target="_blank">clip_upper()</a></strong></td><td>Used to clip values above a passed maximum value</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-astype-to-convert-data-type-of-series/" rel="noopener" target="_blank">astype()</a></strong></td><td>Method is used to change data type of a series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-tolist/" rel="noopener" target="_blank">tolist()</a></strong></td><td>Method is used to convert a series to list</td></tr><tr><td><strong>get()</strong></td><td>Method is called on a Series to extract values from a Series. This is alternative syntax to the traditional bracket syntax</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-unique/" rel="noopener" target="_blank">unique()</a></strong></td><td>Pandas unique() is used to see the unique values in a particular column</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-nunique/" rel="noopener" target="_blank">nunique()</a></strong></td><td>Pandas nunique() is used to get a count of unique values</td></tr><tr><td><strong>value_counts()</strong></td><td>Method to count the number of the times each unique value occurs in a Series</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-factorize/" rel="noopener" target="_blank">factorize()</a></strong></td><td>Method helps to get the numeric representation of an array by identifying distinct values</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-map/" rel="noopener" target="_blank">map()</a></strong></td><td>Method to tie together the values from one object to another</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-series-between/" rel="noopener" target="_blank">between()</a></strong></td><td>Pandas between() method is used on series to check which values lie between first and second argument</td></tr><tr><td><strong><a href="https://www.geeksforgeeks.org/python-pandas-apply/" rel="noopener" target="_blank">apply()</a></strong></td><td>Method is called and feeded a Python function as an argument to use the function on every Series value. This method is helpful for executing custom operations that are not included in pandas or numpy</td></tr></tbody></table>